{% extends "base.html" %}
{% load static %}

{% block content %}

{% endblock %}

{% block table %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>Lista Uli</h2>
      <div class="table-responsive" id="beehive-table">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nazwa Ula</th>
              <th>Typ</th>
              <th>Pasieka</th>
              <th>Ostatni przegląd</th>
              <th>Ostatni zbiór</th>
            </tr>
          </thead>
          <tbody>
          {% for bee in beehive %}
            <tr>
              <td>{{ bee.id }}</td>
                <td><a href="/beehive_view/{{ bee.id }} " class="">{{ bee.name }}</a></td>
              <td>{{ bee.type }}</td>
              <td>{{ bee.apiary }}</td>
              <td>{{ bee.service_date }}</td>
              <td>{{ bee.honey_taken_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
{% endblock %}
