{% extends "base.html" %}
{% load static %}

{% block content %}

{% endblock %}

{% block table %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>Lista Uli</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nazwa Ula</th>
              <th>Typ</th>
              <th>Pasieka</th>
              <th>Ostatni przegląd</th>
              <th>Ostatni zbiór</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ beehive.id }}</td>
              <td>{{ beehive.name }}</td>
              <td>{{ beehive.type }}</td>
              <td>{{ beehive.apiary }}</td>
              <td>{{ beehive.service_date }}</td>
              <td>{{ beehive.honey_taken_date }}</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nazwa Rodziny Pszczelej</th>
              <th>Siła</th>
              <th>Matka</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ beehive.beefamily.id }}</td>
              <td>{{ beehive.beefamily.name }}</td>
              <td>{{ beehive.beefamily.strength }}</td>
              <td>{{ beehive.beefamily.bee_mother }}</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
             <thead>
            <tr>
              <th>#</th>
              <th>Nazwa Matki</th>
              <th>Rodzaj pszczoły</th>
              <th>Wiek</th>
              <th>Aktywna</th>
              <th>#</th>
            </tr>
          </thead>
            <tbody>
            <tr>
              <td>{{ beehive.beefamily.bee_mother.id }}</td>
              <td>{{ beehive.beefamily.bee_mother.name }}</td>
              <td>{{ beehive.beefamily.bee_mother.bee_type }}</td>
              <td>{{ beehive.beefamily.bee_mother.age_days }}</td>
              <td>{{ beehive.beefamily.bee_mother.active }}</td>
              <td>#</td>
            </tr>
            </tbody>
        </table>
      </div>

{#    BeeHive contorl#}
        <div class="button col-md-3 inline-group float-left flex-column">
            <button class="navbar-toggler active" type="button">
      <span class="badge-light">
          <a href="{% url 'beehive-update-form' pk=beehive.id %}">Edytuj Ul</a></span>
            </button>
        </div>
        <div class="button col-md-3 inline-group float-left flex-column">
            <button class="navbar-toggler active" type="button">
          <span class="badge-light">
              <a href="{% url 'beehive-delete-form' pk=beehive.id %}">Usuń Ul</a></span>
            </button>
        </div>
        <div class="button col-md-3 inline-group float-left flex-column">
            <button class="navbar-toggler" type="button">
          <span class="badge-light">
             <a href="{% url 'beehive-make-service' pk=beehive.id %}">Wykonaj przegląd</a></span>
            </button>
        </div>
        <div class="button col-md-3 inline-group float-left flex-column">
            <button class="navbar-toggler" type="button">
          <span class="badge-light">
             <a href="{% url 'beehive-take-honey' pk=beehive.id %}">Zbierz miód</a></span>
            </button>
        </div>
    </main>
{% endblock %}
