{% extends "base.html" %}
{% load static %}

{% block content %}
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"
       data-apiary="{{ apiary.count }}"
       data-beehive="{{ beehive.count }}"
       data-beefamily="{{ beefamily.count }}"
       data-mother="{{ mothers.count }}">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">System zarządzania pasieką</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sortuj</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Sortuj</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Tydzień
          </button>
        </div>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
 </main>
{% endblock %}

{% block table %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>Serwis matek</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nazwa Matki</th>
              <th>Typ</th>
              <th>Rodzina</th>
              <th>Wiek [dni]</th>
              <th>Aktywna</th>
              <th>Stan</th>
            </tr>
          </thead>
          <tbody>
          {% for mother in mothers %}
            <tr>
              <td>{{ mother.id }}</td>
              <td>{{ mother.name }}</td>
              <td>{{ mother.bee_type }}</td>
              <td>{{ mother.beefamily }}</td>
              <td>{{ mother.age_days }}</td>
                {% if mother.active %}
                <td>Tak</td>
                {% else %}
                <td>Nie</td>
                {% endif %}
              <td>{{ mother.state }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
{% endblock %}